nav {
  background-color: rgb(218, 154, 59);
  margin: 0;
}

.navbar-menu {
  display: flex;
}

ul {
  list-style: none;
}

li {
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul > li {
  position: relative;
}

ul > li:hover > ul {
  display: block;
}

ul > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0px 0px;

  background-color: #f16464;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul > li > ul > li > ul {
  display: none;
  position: absolute;
  top: 0%;
  left: 100%;
}
