<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="">
      <div class="container">
        <ul class="navbar-menu">
          {% for menu in menu_items %} {% if menu.parent_menu is null %}
          <li class="">
            <a class="" href="{% url menu.url %}">{{ menu.name }}</a>
            {% if menu.menu_set.all %}
            <ul>
              {% for submenu in menu.menu_set.all %}
              <li class="">
                <a class="" href="{% url submenu.url %}">{{ submenu.name }}</a>
                {% if submenu.menu_set.all %}
                <ul>
                  {% for subsubmenu in submenu.menu_set.all %}
                  <li class="">
                    <a class="" href="{% url subsubmenu.url %}">{{ subsubmenu.name }}</a>
                  </li>
                  <!-- Add more nested levels if needed -->
                  {% endfor %}
                </ul>
                {% endif %} {% endfor %}
              </li>
            </ul>
            {% endif %} {% endif %} {% endfor %}
          </li>
        </ul>
      </div>
    </nav>

    {% block template %}{% endblock template %}
  </body>
</html>
