<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for menu in menu_items %} {% if menu.parent_menu is null %}
          <li class="nav-item dropdown-item">
            <a class="navbar-brand" href="{% url menu.url %}">{{ menu.name }}</a>
            {% if menu.menu_set.all %}
            <ul>
              {% for submenu in menu.menu_set.all %}
              <li class="nav-item"><a class="navbar-brand" href="{% url submenu.url %}">{{ submenu.name }}</a></li>
              {% if submenu.menu_set.all %}
              <ul>
                {% for subsubmenu in submenu.menu_set.all %}
                <li class="nav-item">
                  <a class="navbar-brand" href="{% url subsubmenu.url %}">{{ subsubmenu.name }}</a>
                </li>
                <!-- Add more nested levels if needed -->
                {% endfor %}
              </ul>
              {% endif %} {% endfor %}
            </ul>
            {% endif %} {% endif %} {% endfor %}
          </li>
        </ul>
      </div>
    </nav>

    {% block template %}{% endblock template %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
