{% extends 'base.html' %} {% block template %}

<ul>
  {% for menu in menu_items %}
  <li><a href="#">{{ menu.name }}</a></li>
  {% if menu.menu_set.all %}
  <ul>
    {% for submenu in menu.menu_set.all %}
    <li>{{ submenu.name }}</li>
    {% if submenu.menu_set.all %}
    <ul>
      {% for subsubmenu in submenu.menu_set.all %}
      <li>{{ subsubmenu.name }}</li>
      <!-- Add more nested levels if needed -->
      {% endfor %}
    </ul>
    {% endif %} {% endfor %}
  </ul>
  {% endif %} {% endfor %}
</ul>

{% endblock template %}
